In [1]:
import pandas as pd

## Solution: Tidying your data

## Re-reading the data

One way to approach this is to re-read the data into the dataframe, and assign different names to the columns. Here I've added `_m` and `_s` to the names to indicate the units.

In [2]:
data = pd.read_excel('BoltData.xlsx', 
                        names=('distance_m', 'err_distance_m', 'time_s', 'err_time_s'), 
                        usecols=(0,1,2,3), 
                        nrows=11)

In [3]:
data

    distance_m  err_distance_m    time_s  err_time_s
0            0            0.02  0.000000    1.004810
1           10            0.02  0.923422    0.637569
2           20            0.02  2.178145    0.382366
3           30            0.02  2.461897    0.911785
4           40            0.02  3.387051    0.198510
5           50            0.02  5.263879    1.152222
6           60            0.02  6.042705    0.161827
7           70            0.02  7.939192    0.732011
8           80            0.02  8.221779    1.267329
9           90            0.02  8.578128    0.590908
10         100            0.02  9.562874    1.022337

## Reassigning column names

If you don't want to re-read the data, you can change the column names using `data.columns`.

We can see the current column names using `data.columns`:

In [4]:
data.columns

Index(['distance_m', 'err_distance_m', 'time_s', 'err_time_s'], dtype='object')

To change the names you can use the same command, but assigning a value to the columns as follows:

In [5]:
data.columns = ['Distance_metres', 'Distance_Unc_metres', 'Time_sec', 'Time_Unc_sec']

Looking at the dataframe we can see that the column names have changed

In [6]:
data

    Distance_metres  Distance_Unc_metres  Time_sec  Time_Unc_sec
0                 0                 0.02  0.000000      1.004810
1                10                 0.02  0.923422      0.637569
2                20                 0.02  2.178145      0.382366
3                30                 0.02  2.461897      0.911785
4                40                 0.02  3.387051      0.198510
5                50                 0.02  5.263879      1.152222
6                60                 0.02  6.042705      0.161827
7                70                 0.02  7.939192      0.732011
8                80                 0.02  8.221779      1.267329
9                90                 0.02  8.578128      0.590908
10              100                 0.02  9.562874      1.022337